{% extends 'include/basic.html' %}
{% load static %}

{% block body %}
<div class="container compare my-5 d-flex justify-content-center flex-column">
       <p class="text-center h4 font-weight-bold mb-5">Compare Product</p>
       <table>
              <tbody>
                     <tr>
                            <td></td>
                            <td><img src="/media/{{prod1.images1}}" alt="" width="200px"></td>
                            <td><img src="/media/{{prod2.images1}}" alt="" width="200px"></td>
                     </tr>
                     <tr>
                            <td class="heading">Price :</td>
                            <td class="price">{{prod1.title}}</td>
                            <td class="price">{{prod2.title}}/-</td>
                     </tr>
                     <tr>
                            <td class="heading">Title :</td>
                            <td class="price">{{prod1.price}}/-</td>
                            <td class="price">{{prod2.price}}/-</td>
                     </tr>
                     <tr>
                            <td class="heading">Description :</td>
                            <td class="p-3 desc">{{prod1.desc}}/-</td>
                            <td class="p-3 desc">{{prod2.desc}}/-</td>
                     </tr>
                     <tr>
                            <td class="heading">Sort Description :</td>
                            <td class="p-3 desc">{{prod1.shortDesc}}</td>
                            <td class="p-3 desc">{{prod2.shortDesc}}</td>
                     </tr>
              </tbody>
       </table>
</div>
{% endblock %}